<h1>Edit Article</h1>
 
<%= form_with(model: @article, local: true) do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <%# Attributes of image (Using Image Uploader) =%>

   <div class="field">
    <%#= form.label :description %>
    <%#= form.text_field :description %>
  </div>

  <div class="field">
    <%#= form.label :content %>
    <%#= form.text_area :content %>
  </div>

  <div class="field">
   <%# add an image....
    <%=# form.file_field :image %>
  </div>

<%#= for removing an image %>
 <%# if @article.image? %>
       <%#= image_tag @article.image.thumb.url %>
   <%#   <div>
          <%= label_tag :remove_image do %>
         <%# Remove image
          <%#= form.check_box :remove_image %>
        <%# end %>
     <%# </div>
  <%# end %>

<%#= Adding multiple images using Active Storage %>
  <div class="field">
   <%= form.label :images %>
   <%= form.file_field :images, multiple: true %>
 </div>

    <% @article.images.each do |i| %>
        <%= image_tag rails_blob_path(i) %>
        <%#= label_tag :remove_image do %>
        <%# Remove image %>
        <%#= i.check_box :remove_image %>
    <% end %>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>