<%#= form_with scope: :article, url: articles_path, local: true do |form| %>
<%= simple_form_for :search, url: articles_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :title, input_html: {value: ""} %>   
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to 'Back', articles_path %>
<% end %>
<h1>Listing Articles</h1>

<%= link_to 'New article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%# article.images.each do |i| %> <%#=image_tag i%> <%# end %> </td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>

  <% end %>

</table>

<%#<p> simple form</p>
<%#= simple_form_for :article do |f| %>
  <%#= f.input :title %>
  <%#= f.input :text %>
  <%#= f.button :submit %>
<%# end %>

<%#= simple_form_for :article do |f| %>
  <%#= f.input :name, :label => 'Enter articles title' %>
  <%#= f.input :password, :hint => 'Enter titles text.' %>
  <%#= f.button :submit %>
<%# end %>

<%#= simple_form_for :article do |f| %>
  <%#= f.input :title %>
  <%#= f.input :text %>
  <%#= f.input :description, :as => :text %>
  <%#= f.input :accepts,     :as => :radio %>
  <%#= f.input :age, :collection => 18..60, :prompt => "Select your age" %>
  <%#= f.button :submit %>
<%# end %>

<%# form_for @user do |f|
  f.collection_radio :options, [[true, 'Yes'] ,[false, 'No']], :first, :last
end

<input id="user_options_true" name="user[options]" type="radio" value="true" />
<label class="collection_radio" for="user_options_true">Yes</label>
<input id="user_options_false" name="user[options]" type="radio" value="false" />
<label class="collection_radio" for="user_options_false">No</label>
%>